.col {
  width: 100%;
  border: 1px solid black;
  border-radius: 4px;
  font-size: 14px;
  margin-right: 3px;
}

.col:hover {
  background-color: gold;
  cursor: pointer;
}

#output {
  width: 100%;
  border: 2px solid gold;
  border-radius: 10px;
  display: none;
  text-align: left;
  padding: 20px;
}